#top {
  height: 730px;
  background-image: url(https://cdn.pixabay.com/photo/2018/08/21/23/29/fog-3622519_1280.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-clip: padding-box;
}
#botones {
  background-color: #396204;
}
.nav-link,
p {
  color: #809636;
}

.nav-link:hover,
.nav-link:active {
  color: #396204;
}

#tarjeta,
#botones {
}

body,
#tarjeta {
  background-color: #f4eed6;
  border: none;
}
.name {
  text-align: center;
  padding-top: 200px;
  font-weight: 600;
}

h2,
.name {
  color: #4f3b03;
}

.contactinfo {
  background-color: #4f3b03;
  height: 50px;
}
h3 {
  color: #809636;
}
